<!DOCTYPE html>
<html>
  <head>
    <title>READme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <button class="btn btn-primary">test</button>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/hero' %>
    <%= yield %>
  </body>
</html>
